{{> head}}

   {{> navbar}}    
    <div class="row">
        <div class="col-8">
            <h1>Gendapp</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eveniet ab placeat ducimus numquam voluptas, illum itaque sint, sunt doloremque error adipisci est neque reprehenderit eaque, consequuntur ipsam totam nihil!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/{{img}}" class="img-thumbnail" alt="">
        </div>
    </div>  

{{> footer}}